body {
@charset "utf-8";
body{background-color: navy;}

h2{
	color: red;
	text-decoration: underline dotted 5px red; 
}
img{
	width: 400px;
	border: 25px dotted red;
	border-radius: 50%;	
}
img:hover {
	border: 25px dotted red;
}

h1{
	color: red;
	text-decoration: underline;
}
@media screen{
}

}
